*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');
body, button, input{
  font-family: 'Festive', cursive;
}

body{
  background-color: lawngreen;
  
}

@media (max-width: 600px) {
  body{
    background-color: hotpink;
  }
  h1{
    font-size: 55px;
  }
}
@media (max-height:300px){
  body{
    background-color: skyblue;
  }
  
}